body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #4169E1, #FF6F00); /* Gradient background */
  background-size: 400% 400%;
  animation: gradientBackground 15s ease infinite; /* Animation for moving background */
}

@keyframes gradientBackground {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

#game-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  height: 100%;
}

#game-canvas {
  display: block;
  background: #1e3c72; /* Dark blue background */
  margin: 0 auto;
  border: 3px solid #fff; /* White border for contrast */
  width: 100%;
  height: 100%;
}

#game-info {
  text-align: center;
  margin-top: 20px;
  color: #fff; /* White text color */
}

#game-info button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#start-button {
  background-color: #32CD32; /* Lime Green */
  color: #fff;
}

#pause-button {
  background-color: #FF4500; /* Orange Red */
  color: #fff;
}

.hidden {
  display: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8); /* Dark semi-transparent background */
  padding-top: 60px;
  text-align: center;
}

.modal-content {
  background-color: #fff;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  text-align: center;
  border-radius: 10px; /* Rounded corners */
}

#game-over-modal .modal-content {
  width: 50%;
}

.leaderboard {
  text-align: center;
  margin-top: 20px;
  color: #FFD700;
}

#leaderboard-list {
  list-style-type: none;
  padding: 0;
}

#leaderboard-list li {
  background: #003300;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  color: #FFD700;
}